.row-fluid
  .span12.data-block
    .data-container
      %header
        %h2
          = @campaign.incidents.name
          Incident
      %section
        %table.datatable.table.table-striped.table-bordered.dataTable
          %thead
            %tr
              %th Id
              %th Comment





