.row-fluid
  .span12.data-block
    .data-container
      %header
        %h2
          Campaigns
      %section
        %table.datatable.table.table-striped.table-bordered.dataTable
          %thead
            %tr
              %th Id
              %th Hashtag
              %th Actions
          %tbody
            = render @hashtags