.row-fluid
  .span12.data-block
    .data-container
      %header
        %h2
          Edit Comment
      %section
        = form_for [@incident.campaign, @incident, @comment], :html => {class: "form-horizontal"} do |form|
          = render partial: "form", locals: {form: form}