.row-fluid
  .span12.data-block
    .data-container
      %header
        %h2
          Edit Organization
      %section
        = form_for current_user.organization, method: :put, :html => {class: "form-horizontal"} do |form|
          = render partial: "form", locals: {form: form}