!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Login | Chromatron HTML5 Admin Backend
    = stylesheet_link_tag 'application'

  %body.login-page
    / Main login container
    .login-container
      = yield
